# LLM
GEMINI_API_KEY=
GEMINI_MODEL=gemini-3.6-flash

# Database
DATABASE_URL=

GROQ_API_KEY=
GROQ_MODEL=qwen/qwen3.6-27b

# For uses requiring a connection without pgbouncer
DATABASE_URL_UNPOOLED=
# Parameters for constructing your own connection string
PGHOST=
PGHOST_UNPOOLED=
PGUSER=
PGDATABASE=
PGPASSWORD=